<%- include('../includes/header.ejs')%>
    <h1>Cart</h1>
    <% if(cartProducts.length> 0) { %>
        <ul class="list-unstyled">
            <% cartProducts.forEach((item) => { %>
                <li class="media boder-bottom p-2">
                    <img src="<%= item.imageUrl %>" class="mr-3" style="width: 100px;" alt="<%= item.title %>">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><%= item.title%></h5>
                        <small>Price:$<%= item.price%></small>
                        <p><%= item.description%></p>
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        <span class="badge badge-primiry badge-pill mr-3 mt-2"><%= item.count%></span>
                        <form action="/cart-delete-product" method="POST">
                            <input type="hidden" name="productId" value="<%= item.id%>"/>
                            <button type="submit" class="btn btn-danger">Deleta Product</button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
        <div>Machen Zusammen: $<%= totalPrice%></div>
    <% } else { %>
        <h5>Cart is empty</h5>
    <% } %>
<%- include('../includes/footer.ejs')%>